<p-fluid class="custom-card-form">
    <form [formGroup]="form" class="custom-grid-form" (ngSubmit)="onSubmit()">
        <!-- title -->
        <div class=" custom-section-title-form md:col-span-12">
            Cambio de contraseña:
            <p-divider />
        </div>

        <!-- passwordActivated -->
        <div class="custom-field-form md:col-span-12">
            <label
                appLabel
                for="passwordActivated">
                Active para cambiar su contraseña:
                <br>
                <small style="color: var(--p-gray-500)">Enviaremos un código a tu correo registrado para verificar tu
                    identidad.</small>
            </label>

            <app-toggle-switch [formControl]="passwordActivated" />
        </div>

        @if (passwordActivated.value) {
            <!-- requestTransactionalCode -->
            <div class="custom-field-form md:col-span-4 mt-7">
                <p-button
                    severity="help"
                    [icon]="FontAwesome.PAPER_PLANE_REGULAR"
                    [label]="transactionalCodeControl.enabled?'Reenviar código':'Solicitar código'"
                    [text]="transactionalCodeControl.enabled"
                    [raised]="transactionalCodeControl.enabled"
                    (onClick)="requestTransactionalCode()" />
            </div>

            <!-- transactionalCodeControl -->
            @if (transactionalCodeControl.enabled) {
                <div class="custom-field-form md:col-span-8">
                    <label
                        appLabel for="transactionalCode"
                        [required]="transactionalCodeControl"
                        label="Código de seguridad"></label>

                    <app-transactional-code [formControl]="transactionalCodeControl"
                                            [requester]="authService.auth.username" />

                    <p-message
                        appErrorMessage
                        [errors]="transactionalCodeControl.errors"
                        [touched]="transactionalCodeControl.touched"
                        [dirty]="transactionalCodeControl.dirty" />
                </div>
            }

            <!-- passwordField -->
            @if (transactionalCodeControl.valid && passwordField.enabled) {
                <div class="custom-field-form md:col-span-5">
                    <label
                        appLabel
                        for="password"
                        [required]="passwordField"
                        label="Nueva contraseña">
                    </label>

                    <p-password
                        [toggleMask]="true"
                        [feedback]="false"
                        formControlName="password">
                    </p-password>

                    <p-message
                        appErrorMessage
                        [errors]="passwordField.errors"
                        [touched]="passwordField.touched"
                        [dirty]="passwordField.dirty" />
                </div>

                <div class="custom-field-form md:col-span-5">
                    <label
                        appLabel
                        for="passwordConfirm"
                        [required]="passwordConfirmField"
                        label="Confirmar nueva contraseña"></label>

                    <p-password
                        id="passwordConfirm"
                        formControlName="passwordConfirm"
                        [toggleMask]="true"
                        [feedback]="false" />

                    <p-message
                        appErrorMessage
                        [errors]="passwordConfirmField.errors"
                        [touched]="passwordConfirmField.touched"
                        [dirty]="passwordConfirmField.dirty" />
                </div>

                <!-- savePassword button -->
                <div class="custom-field-form mt-7 md:col-span-2 sm:col-span-12">
                    <p-button
                        type="submit"
                        pTooltip="Actualizar Contraseña"
                        [icon]="FontAwesome.FLOPPY_DISK_SOLID"
                        [disabled]="passwordField.disabled" />
                </div>
            }
        }
    </form>
</p-fluid>
