<p-fluid class="custom-card-form">
    <form [formGroup]="form" class="custom-grid-form" (ngSubmit)="onSubmit()">
        <!-- title -->
        <div class=" custom-section-title-form md:col-span-11">
            Cambio de contraseña:
            <p-divider />
        </div>

        <!-- passwordField -->
        <div class="custom-field- md:col-span-12 form">
            <div class="custom-grid-form">
                <!-- passwordActivated -->
                <div class="custom-field-form md:col-span-6">
                    <label
                        appLabel
                        for="passwordActivated"
                        label="Active para cambiar su contraseña">
                    </label>

                    <p-toggleswitch [formControl]="passwordActivated" />
                </div>

                @if (passwordActivated.value) {
                    <!-- requestTransactionalCode -->
                    <div class="custom-field-form md:col-span-6">
                        <p-button
                            label="Solicitar código"
                            [icon]="FontAwesome.PAPER_PLANE_REGULAR"
                            severity="help"
                            (onClick)="requestTransactionalCode()" />
                    </div>

                    <!-- transactionalCodeControl -->
                    @if (transactionalCodeControl.enabled) {
                        <div class="custom-field-form md:col-span-12">
                            <label
                                appLabel for="transactionalCode"
                                label="Código transaccional"
                                [required]="transactionalCodeControl"></label>

                            <app-transactional-code [formControl]="transactionalCodeControl"
                                                    [requester]="authService.auth.username" />

                            <p-message
                                appErrorMessage
                                [errors]="transactionalCodeControl.errors"
                                [touched]="transactionalCodeControl.touched"
                                [dirty]="transactionalCodeControl.dirty" />
                        </div>
                    }

                    <!-- passwordField -->
                    @if (transactionalCodeControl.valid && passwordField.enabled) {
                        <div class="custom-field-form md:col-span-10">
                            <label
                                appLabel
                                for="password"
                                [required]="passwordField"
                                label="Nueva contraseña">
                            </label>

                            <p-password
                                [toggleMask]="true"
                                [feedback]="false"
                                formControlName="password">
                            </p-password>

                            <p-message
                                appErrorMessage
                                [errors]="passwordField.errors"
                                [touched]="passwordField.touched"
                                [dirty]="passwordField.dirty" />
                        </div>

                        <!-- savePassword button -->
                        <div class="custom-field-form md:col-span-2">
                            <p-button
                                type="submit"
                                pTooltip="Guardar"
                                class="mt-7"
                                [icon]="FontAwesome.FLOPPY_DISK_SOLID"
                                [disabled]="passwordField.disabled" />
                        </div>
                    }
                }
            </div>
        </div>
    </form>
</p-fluid>
