<p-fluid class="custom-card-form">
    <form [formGroup]="form" class="custom-grid-form">
        <!-- backButton -->
        <div class="custom-field-form md:col-span-12">
            <p-button
                label="Regresar"
                [icon]="PrimeIcons.ARROW_LEFT"
                severity="warn"
                [routerLink]="[MY_ROUTES.authPages.signIn.absolute]" />
        </div>

        <div class="custom-section-title-form md:col-span-12 text-center">
            Recuperación de la Cuenta
        </div>

        <!-- identificationField -->
        <div class="custom-field-form md:col-span-12">
            <label
                appLabel
                for="identification"
                [required]="identificationField"
                label="Cédula">
            </label>

            <input
                pInputText
                type="text"
                id="identification"
                formControlName="identification"
                [maxlength]="13" />

            <p-message
                appErrorMessage
                [errors]="identificationField.errors"
                [touched]="identificationField.touched"
                [dirty]="identificationField.dirty" />
        </div>

        @if (identificationField.valid) {
            <!-- emailField -->
            <div class="custom-field-form md:col-span-12">
                <label
                    appLabel for="email"
                    label="Correo electrónico"
                    [required]="emailField"></label>

                <input pInputText id="email" type="text" formControlName="email" />

                <p-message
                    appErrorMessage
                    [errors]="emailField.errors"
                    [touched]="emailField.touched"
                    [dirty]="emailField.dirty" />
            </div>

            <!-- requestTransactionalCode -->
            <div class="custom-field-form md:col-span-12">
                <p-button
                    label="Solicitar código"
                    [icon]="PrimeIcons.ENVELOPE"
                    severity="help"
                    [disabled]="emailField.invalid"
                    (onClick)="requestTransactionalCode()" />
            </div>
        }

        @if (transactionalCodeControl.enabled) {
            <!-- transactionalCodeControl -->
            <div class="custom-field-form md:col-span-12">
                <label
                    appLabel for="transactionalCode"
                    label="Código transaccional"
                    [required]="transactionalCodeControl"></label>

                <p-inputOtp id="transactionalCode" [formControl]="transactionalCodeControl" [length]="6"
                            [integerOnly]="true" />

                <p-message
                    appErrorMessage
                    [errors]="transactionalCodeControl.errors"
                    [touched]="transactionalCodeControl.touched"
                    [dirty]="transactionalCodeControl.dirty" />
            </div>
        }

        @if (passwordField.enabled) {
            <!-- passwordField -->
            <div class="custom-field-form md:col-span-12">
                <label
                    appLabel for="password" label="Contraseña"
                    [required]="passwordField"></label>

                <p-password
                    id="password" type="text" formControlName="password"
                    [toggleMask]="true"
                    [feedback]="false" />

                <p-message
                    appErrorMessage
                    [errors]="passwordField.errors"
                    [touched]="passwordField.touched"
                    [dirty]="passwordField.dirty" />
            </div>

            <!-- saveButton -->
            <div class="custom-field-form md:col-span-12">
                <p-button
                    label="Resetear Contraseña"
                    [icon]="PrimeIcons.SYNC"
                    [disabled]="passwordField.invalid"
                    (onClick)="onSubmit()" />
            </div>
        }
    </form>
</p-fluid>
