@if (form.enabled) {
    <div class="flex items-center justify-center min-h-screen p-4">
        <p-fluid class="w-full custom-card-form mx-auto max-w-xl py-20">
            <h3 class="mb-4 text-center">Actualización de Seguridad Requerida</h3>

            <small>
                Por motivos de seguridad, es necesario que actualices tu contraseña temporal antes de continuar.
            </small>

            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="custom-grid-form">
                <!-- passwordField -->
                <div class="custom-field-form md:col-span-12">
                    <label
                        appLabel
                        for="password"
                        [required]="passwordField"
                        label="Nueva contraseña"
                    ></label>

                    <p-password
                        id="password" type="text"
                        formControlName="password"
                        [toggleMask]="true"
                        [feedback]="false" />

                    <p-message
                        appErrorMessage
                        [errors]="passwordField.errors"
                        [touched]="passwordField.touched"
                        [dirty]="passwordField.dirty" />
                </div>

                <!-- passwordConfirmField -->
                <div class="custom-field-form md:col-span-12">
                    <label
                        appLabel
                        for="passwordConfirm"
                        [required]="passwordConfirmField"
                        label="Confirmar nueva contraseña"></label>

                    <p-password
                        id="passwordConfirm"
                        formControlName="passwordConfirm"
                        [toggleMask]="true"
                        [feedback]="false" />

                    <p-message
                        appErrorMessage
                        [errors]="passwordConfirmField.errors"
                        [touched]="passwordConfirmField.touched"
                        [dirty]="passwordConfirmField.dirty" />
                </div>

                <!-- saveButton -->
                <div class="custom-field-form md:col-span-12">
                    <p-button
                        type="submit"
                        label="Actualizar Contraseña"
                        [icon]="FontAwesome.FLOPPY_DISK_SOLID"
                        [disabled]="passwordConfirmField.invalid" />
                </div>
            </form>
        </p-fluid>
    </div>
}
