<p-fluid class="custom-card-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="custom-grid-form">
        <div class="custom-section-title-form md:col-span-12 text-center">
            Ingreso al Sistema
        </div>

        <div class="md:col-span-12 custom-field-form">
            <label
                appLabel for="username"
                label="Cédula"
                [required]="usernameField"></label>

            <input
                pInputText
                type="text"
                id="username"
                formControlName="username" />

            <p-message
                appErrorMessage
                [errors]="usernameField.errors"
                [touched]="usernameField.touched"
                [dirty]="usernameField.dirty" />
        </div>

        <div class="custom-field-form md:col-span-12">
            <label
                appLabel
                for="password"
                [required]="passwordField"
                label="Contraseña">
            </label>

            <p-password
                id="password"
                formControlName="password"
                [toggleMask]="true"
                [feedback]="false" />

            <p-message
                appErrorMessage
                [errors]="passwordField.errors"
                [touched]="passwordField.touched"
                [dirty]="passwordField.dirty" />
        </div>

        <div class="custom-field-form md:col-span-12">
            <p-button
                type="submit"
                label="Ingresar"
                [icon]="FontAwesome.ARROW_RIGHT_TO_BRACKET_SOLID"
                [loading]="coreService.loading()" />
        </div>

        <div class="custom-field-form md:col-span-6">
            <p-button
                label="Crear Cuenta"
                [icon]="FontAwesome.USER_PLUS_SOLID"
                severity="success"
                [raised]="true"
                [text]="true"
                [routerLink]="MY_ROUTES.authPages.signUp.absolute" />
        </div>

        <div class="custom-field-form md:col-span-6">
            <p-button
                label="Recuperar Cuenta"
                [icon]="FontAwesome.UNLOCK_KEYHOLE_SOLID"
                severity="help"
                [raised]="true"
                [text]="true"
                [routerLink]="MY_ROUTES.authPages.passwordReset.absolute" />
        </div>
    </form>
</p-fluid>

<p-dialog [(visible)]="isVisibleRoles"
          [modal]="true"
          [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
          [style]="{ width: '25vw' }"
          [draggable]="false"
          [closable]="false"
          [dismissableMask]="false"
          (onHide)="closeRoleSelect()"
          [resizable]="false">
    <ng-template #header>
        <div class="custom-section-title-form">
            Seleccione un Rol
        </div>
    </ng-template>

    <p-fluid class="custom-card-form">
        <div class="custom-grid-form">
            <div class="custom-field-form md:col-span-12">
                <p class="text-muted-color">
                    Continuar como...
                </p>
            </div>

            @for (role of roles; track role.id) {
                <div class="custom-field-form md:col-span-12">
                    <p-button
                        variant="text"
                        [icon]="role.icon"
                        [raised]="true"
                        [label]="role.name"
                        (onClick)="selectRole(role)" />
                </div>
            }

            <div class="custom-field-form md:col-span-12">
                <p-button label="Cerrar Sesión" [text]="true" severity="danger" (onClick)="signOut()" />
            </div>
        </div>
    </p-fluid>
</p-dialog>

<p-dialog [(visible)]="requestEmailVerificationModal"
          [modal]="true"
          [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
          [style]="{ width: '25vw' }"
          [draggable]="false"
          [resizable]="false">
    <ng-template #header>
        <div class="custom-section-title-form">
            Solicitar enlace de verificación
        </div>
    </ng-template>

    <p-fluid class="custom-card-form">
        <div class="custom-grid-form">
            <div class="custom-field-form md:col-span-12">
                <p-button
                    label="Solicitar nuevo enlace"
                    [icon]="FontAwesome.ENVELOPE_OPEN_SOLID"
                    [raised]="true"
                    (onClick)="resendEmailVerification()" />
            </div>
        </div>
    </p-fluid>
</p-dialog>
