<p-fluid class="custom-card-form">
    <form [formGroup]="form" class="custom-grid-form">
        <!-- backButton -->
        <div class="custom-field-form md:col-span-12">
            <p-button
                pTooltip="Regresar"
                [icon]="FontAwesome.CHEVRON_LEFT_SOLID"
                severity="warn"
                [raised]="true"
                [text]="true"
                [routerLink]="[MY_ROUTES.authPages.signIn.absolute]" />
        </div>

        <!-- title -->
        <div class="custom-section-title-form md:col-span-12  text-center">
            Creación de la Cuenta
        </div>

        <!-- identificationField -->
        <div class="custom-field-form md:col-span-12">
            <label
                appLabel for="identification"
                label="Cédula"
                [required]="identificationField"></label>

            <input pInputText type="text" id="identification" formControlName="identification" [maxlength]="13"
                   pKeyFilter="pint" />

            <p-message
                appErrorMessage
                [errors]="identificationField.errors"
                [touched]="identificationField.touched"
                [dirty]="identificationField.dirty" />
        </div>

        <!-- emailField -->
        @if (emailField.enabled && identificationField.valid) {
            <div class="custom-field-form md:col-span-12">
                <label
                    appLabel for="email"
                    label="Correo electrónico"
                    [required]="emailField"></label>

                <input pInputText type="email" id="email" formControlName="email" />

                <p-message
                    appErrorMessage
                    [errors]="emailField.errors"
                    [touched]="emailField.touched"
                    [dirty]="emailField.dirty" />
            </div>

            <!-- requestTransactionalCode -->
            <div class="custom-field-form md:col-span-12">
                <p-button
                    label="Solicitar código"
                    [icon]="FontAwesome.PAPER_PLANE_REGULAR"
                    severity="help"
                    [disabled]="emailField.invalid"
                    (onClick)="requestTransactionalCode()" />
            </div>
        }

        @if (transactionalCodeControl.enabled) {
            <!-- transactionalCodeControl -->
            <div class="custom-field-form md:col-span-12">
                <label
                    appLabel for="transactionalCode"
                    label="Código transaccional"
                    [required]="transactionalCodeControl"></label>

                <p-inputOtp id="transactionalCode" [formControl]="transactionalCodeControl" [length]="6"
                            [integerOnly]="true" />

                <p-message
                    appErrorMessage
                    [errors]="identificationField.errors"
                    [touched]="identificationField.touched"
                    [dirty]="identificationField.dirty" />
            </div>
        }

        @if (passwordField.enabled) {
            <!-- nameField -->
            <div class="custom-field-form md:col-span-12">
                <label
                    appLabel
                    for="name"
                    [required]="nameField"
                    label="Nombres">
                </label>

                <input
                    pInputText
                    type="text"
                    id="name"
                    formControlName="name"
                />

                <p-message
                    appErrorMessage
                    [errors]="nameField.errors"
                    [touched]="nameField.touched"
                    [dirty]="nameField.dirty" />
            </div>

            <!-- passwordField -->
            <div class="custom-field-form md:col-span-12">
                <label
                    appLabel
                    for="password"
                    label="Contraseña"
                    [required]="passwordField">
                </label>

                <p-password
                    id="password" type="text" formControlName="password"
                    [toggleMask]="true"
                    [feedback]="false" />

                <p-message
                    appErrorMessage
                    [errors]="passwordField.errors"
                    [touched]="passwordField.touched"
                    [dirty]="passwordField.dirty" />
            </div>

            <!-- securityQuestions title -->
            <div class="md:col-span-12">
                <h4>Preguntas de seguridad:</h4>

                <small class="bg-surface-100">
                    Tus respuestas nos ayudarán a recuperar tu cuenta si alguna vez lo necesitas.
                </small>
            </div>

            <!-- securityQuestionsField -->
            <div formArrayName="securityQuestions" class="custom-field-form md:col-span-12">
                @for (securityQuestion of securityQuestionsField.controls; track securityQuestion.value.code) {
                    <div [formGroupName]="$index" class="custom-field-form md:col-span-12">
                        <label
                            appLabel
                            [for]="$index"
                            [required]="securityQuestion.get('answer')">
                            {{ securityQuestion.get('question')?.value }}
                        </label>

                        <p-password
                            [id]="$index"
                            [formControl]="$any(securityQuestion.get('answer'))"
                            [toggleMask]="true"
                            [feedback]="false" />

                        <p-message
                            appErrorMessage
                            [errors]="securityQuestion.get('answer')?.errors"
                            [touched]="securityQuestion.get('answer')?.touched"
                            [dirty]="securityQuestion.get('answer')?.dirty" />
                    </div>
                }
            </div>

            <!-- termsAcceptedAtField -->
            <div class="custom-field-form md:col-span-12">
                <div class="flex items-center">
                    <p-checkbox
                        inputId="termsAcceptedAt"
                        formControlName="termsAcceptedAt"
                        [binary]="true"
                        (click)="openTerms()" />

                    <p-button
                        label="He leído y acepto los Términos y Condiciones"
                        [link]="true"
                        (onClick)="openTerms()"
                    />
                </div>

                <p-message
                    appErrorMessage
                    [errors]="termsAcceptedAtField.errors"
                    [touched]="termsAcceptedAtField.touched"
                    [dirty]="termsAcceptedAtField.dirty" />
            </div>

            <!-- saveButton -->
            <div class="custom-field-form md:col-span-12">
                <p-button
                    label="Crear Cuenta"
                    [icon]="FontAwesome.USER_PLUS_SOLID"
                    severity="success"
                    (onClick)="onSubmit()" />
            </div>
        }
    </form>
</p-fluid>
