<div class="flex flex-col md:flex-row gap-2">
    <div class="flex flex-col w-1/1">

        <app-password-change/>

        <p-fluid class="custom-card-form">
            <form [formGroup]="form" class="custom-grid-form">
                <!-- title -->
                <div class="md:col-span-10 custom-section-title-form">
                    Datos Personales:
                    <p-divider />
                </div>

                <!-- save action -->
                <div class="md:col-span-2 custom-section-title-form">
                    <p-button pTooltip="Guardar" [icon]="FontAwesome.FLOPPY_DISK_SOLID" (onClick)="onSubmit()" />
                </div>

                <!-- avatarField -->
                <div class="md:col-span-3 custom-field-form">
                    <label
                        appLabel
                        for="avatar"
                        [required]="avatarField"
                        label="Foto de perfil">
                    </label>

                    <p-avatar
                        [image]="avatarUrl ? avatarUrl:undefined"
                        [icon]="avatarUrl ? undefined:FontAwesome.CAMERA_RETRO_SOLID"
                        size="xlarge"
                        shape="circle"
                        (click)="fileInput.click()"
                        pTooltip="Haga click para cambiar" />

                    <input
                        #fileInput
                        type="file"
                        accept="image/*"
                        hidden
                        (change)="uploadAvatar($event)" />

                    <p-message
                        appErrorMessage
                        [errors]="avatarField.errors"
                        [touched]="avatarField.touched"
                        [dirty]="avatarField.dirty" />
                </div>

                <!-- emailField -->
                <div class="md:col-span-9 custom-field-form">
                    <label
                        appLabel
                        for="email"
                        [required]="emailField">
                        Correo Principal:
                        @if (emailVerifiedAtField.value) {
                            <p-tag value="Verificado" severity="success" />
                        } @else {
                            <p-tag value="No Verificado" severity="danger" />
                        }
                    </label>

                    <input type="email" pInputText formControlName="email">

                    <p-message
                        appErrorMessage
                        [errors]="emailField.errors"
                        [touched]="emailField.touched"
                        [dirty]="emailField.dirty" />
                </div>

                <!-- identificationTypeField -->
                <div class="md:col-span-6 custom-field-form">
                    <label
                        appLabel
                        for="identificationType"
                        [required]="identificationTypeField"
                        label="Tipo de identificación">
                    </label>

                    <p-select
                        id="identificationType"
                        dataKey="id"
                        [options]="identificationTypes"
                        formControlName="identificationType"
                        optionLabel="name"
                        appendTo="body" />

                    <p-message
                        appErrorMessage
                        [errors]="identificationTypeField.errors"
                        [touched]="identificationTypeField.touched"
                        [dirty]="identificationTypeField.dirty" />
                </div>

                <!-- identificationField -->
                <div class="md:col-span-6 custom-field-form">
                    <label
                        appLabel
                        for="identification"
                        [required]="identificationField"
                        label="Identificación">
                    </label>

                    <input type="text" pInputText formControlName="identification">

                    <p-message
                        appErrorMessage
                        [errors]="identificationField.errors"
                        [touched]="identificationField.touched"
                        [dirty]="identificationField.dirty" />
                </div>

                <!-- lastnameField -->
                <div class="md:col-span-6 custom-field-form">
                    <label
                        appLabel
                        for="lastname"
                        [required]="lastnameField"
                        label="Apellidos">
                    </label>

                    <input type="text" pInputText formControlName="lastname">

                    <p-message
                        appErrorMessage
                        [errors]="lastnameField.errors"
                        [touched]="lastnameField.touched"
                        [dirty]="lastnameField.dirty" />
                </div>

                <!-- nameField -->
                <div class="md:col-span-6 custom-field-form">
                    <label
                        appLabel
                        for="name"
                        [required]="nameField"
                        label="Nombres">
                    </label>

                    <input type="text" pInputText formControlName="name">

                    <p-message
                        appErrorMessage
                        [errors]="nameField.errors"
                        [touched]="nameField.touched"
                        [dirty]="nameField.dirty" />
                </div>

                <!-- personalEmailField -->
                <div class="md:col-span-6 custom-field-form">
                    <label
                        appLabel
                        for="personalEmail"
                        [required]="personalEmailField"
                        label="Correo Secundario">
                    </label>

                    <input type="email" pInputText formControlName="personalEmail">

                    <p-message
                        appErrorMessage
                        [errors]="personalEmailField.errors"
                        [touched]="personalEmailField.touched"
                        [dirty]="personalEmailField.dirty" />
                </div>

                <!-- birthdateField -->
                <div class="md:col-span-6 custom-field-form">
                    <label
                        appLabel
                        for="birthdate"
                        [required]="birthdateField"
                        label="Fecha de nacimiento">
                    </label>

                    <p-datePicker
                        id="birthdate"
                        formControlName="birthdate"
                        appendTo="body"
                        [showIcon]="true"
                        dateFormat="yy-mm-dd" />

                    <p-message
                        appErrorMessage
                        [errors]="birthdateField.errors"
                        [touched]="birthdateField.touched"
                        [dirty]="birthdateField.dirty" />
                </div>

                <!-- cellPhoneField -->
                <div class="md:col-span-6 custom-field-form">
                    <label
                        appLabel
                        for="cellPhone"
                        [required]="cellPhoneField"
                        label="Teléfono celular">
                    </label>

                    <input type="text" pInputText formControlName="cellPhone">

                    <p-message
                        appErrorMessage
                        [errors]="cellPhoneField.errors"
                        [touched]="cellPhoneField.touched"
                        [dirty]="cellPhoneField.dirty" />
                </div>

                <!-- phoneField -->
                <div class="md:col-span-6 custom-field-form">
                    <label
                        appLabel
                        for="phone"
                        [required]="phoneField"
                        label="Teléfono convencional">
                    </label>

                    <input type="text" pInputText formControlName="phone">

                    <p-message
                        appErrorMessage
                        [errors]="phoneField.errors"
                        [touched]="phoneField.touched"
                        [dirty]="phoneField.dirty" />
                </div>
            </form>
        </p-fluid>
    </div>

    <div class="flex flex-col w-1/1">

        <p-fluid class="custom-card-form">
            <form [formGroup]="form" class="custom-grid-form">
                <!-- title -->
                <div class="md:col-span-12 custom-section-title-form">
                    Preguntas de seguridad:
                    <p-divider />
                </div>

                <!-- securityQuestions -->
                <div class="md:col-span-12 custom-field-form">
                    <label
                        appLabel
                        for="securityQuestions">
                        <p>
                            Última modificación:
                            <strong>
                                {{ authService.auth.securityQuestionAcceptedAt | dateLong:true }}
                            </strong>
                        </p>

                        <p>
                            <small class="bg-surface-100">
                                Estas preguntas se utilizan para verificar tu identidad.
                            </small>
                        </p>

                        <small class="bg-surface-100">
                            Para cambiarlas, deberás validar un código de seguridad.
                        </small>
                    </label>
                </div>

                <div class="md:col-span-12 custom-field-form">
                    <p-button
                        label="Cambiar Preguntas"
                        severity="info"
                        [icon]="FontAwesome.PEN_TO_SQUARE_REGULAR"
                        (onClick)="goToSecurityQuestions()"
                    />
                </div>
            </form>
        </p-fluid>

        <app-additional-information/>
    </div>
</div>
